@{
    var HangSX_List = (List<BaseClass.Models.HangSX>)ViewBag.HangSX_List;
    var giohang = (BaseClass.Models.DonHang)ViewBag.giohang;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
<head>
    <base href="@Url.Content("~/Content/Front/")" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="joomla, Joomla" />
    <meta name="description" content="Joomla! - the dynamic portal engine and content management system" />
    <meta name="generator" content="Joomla! 1.5 - Open Source Content Management" />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="ddsmoothmenu.css" type="text/css" />
    <script type="text/javascript" src="mootools.js"></script>
    <script type="text/javascript" src="caption.js"></script>

    <link href="Oswaldv1.css" rel='stylesheet' type='text/css' />
    <link href="Quattrocento_Sans.css" rel='stylesheet' type='text/css' />
    <link href="Open_Sans_400_600_700_italic_800.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="prettyPhoto.css" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="constant.css" type="text/css" />
    <link rel="stylesheet" href="template.css" type="text/css" />
    <link rel="stylesheet" href="virtuemart.css" type="text/css" />
    <link rel="stylesheet" href="products.css" type="text/css" />
    <link rel="stylesheet" href="ieonly.css" type="text/css" />
    <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="kwicks-1.5.1.pack.js"></script>
    <script type="text/javascript" src="jqtransform.js"></script>
    <!-- Slider -->
    <script type="text/javascript">
        var $j = jQuery.noConflict();
        $j(function () {
            $j('.kwicks').kwicks({ max: 780, spacing: 0, min: 40, event: 'click', sticky: true, easing: 'easeOutBack' })
            $j('.kwicks_body').fadeOut(0)
            $j('.active .kwicks_body').delay(500).fadeIn(500)
        })
        $j(document).ready(function () {
            $j(function () {
                $j('#select-form').jqTransform({ imgPath: '/virtuemart_37317/templates/theme222/images/' }).css('display', 'block');
            });
        });
        $j(window).load(function () {
            $j('.tab_container , .Fly-tabs').css('visibility', 'visible');
        });
    </script>
    <script type="text/javascript" src="jquery.easing.1.3.js" ></script>
    <script type="text/javascript" src="jquery.prettyPhoto.js" ></script>
    <script type="text/javascript" src="scripts.js" ></script>
    <script type="text/javascript" src="imagepreloader.js" ></script>
    <script type="text/javascript">
        preloadImages([
			'arrowUp-active.png',
			'arrowDown-active.png'
        ]);
    </script>
    <style type="text/css">
        .featuredBorder, .related .extra-releted, .moduletable-categories ul.level1 li a, .moduletable-categories ul.level2, .kwicks li.kwicks_1, .kwicks li.kwicks_5, .module_best h3, .module_best .boxIndent, .module_new h3, .module_new .boxIndent, .module h3, .module_text h3, .module_menu h3, .module .boxIndent, .module_text .boxIndent, .module_menu .boxIndent, .content-indent {
            behavior: url(PIE.php);
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body id="body" class="first">
    <div id="all">
        <div class="main">
            <!-- header -->
            <div id="header">
                <div id="search">
                    <div class="moduletable">
                        <form action="@Url.Action("Quick_Search","FrontSearch")" method="post">
                            <div class="search">
                                <input name="ten" id="mod_search_searchword" maxlength="80" alt="Search" class="inputbox" type="text" size="80" value="Nhập tên sản phẩm cần tìm" onblur="if(this.value=='') this.value='Nhập tên sản phẩm cần tìm';" onfocus="if(this.value=='Nhập tên sản phẩm cần tìm') this.value='';" />
                                <input type="submit" value="Tìm kiếm" class="button" onclick="this.form.ten.focus();" />
                            </div>
                        </form>
                    </div>

                </div>
                <div id="topmenu" style="visibility:hidden">
                    <div class="moduletable-nav">
                        <ul class="menu">
                            <li class="item29"><a href="javascript:void(0)"><span>Online store</span></a></li>
                            
                        </ul>
                    </div>

                </div>
                <div id="cart">
                    <div class="moduletable">
                        <a href="@Url.Action("Index","FrontCart")">
                        <h3>
                            
                            Giỏ hàng
                            
                        </h3>
                            </a>
                        <div class="vmCartModule">
                            Hiện có <a href="@Url.Action("Index","FrontCart")">@giohang.ds_chitiet_donhang.Count sản phẩm</a>
                        </div>
                    </div>

                </div>

                <div id="logo">
                    <a href="@Url.Action("Index","FrontHome")">
                        <img alt="" src="logo.png"/></a>
                </div>
                <div class="moduletable-categories">
                    <script type="text/javascript" src="ddsmoothmenu.js"></script>
                    <div class='ddsmoothmenu' id='smoothmenu1'>
                        <div id="relative_div" style="position: relative; z-index: 0"></div>
                        <ul class="level1">
                            <li class="level1 item1">
                                <a class="level1 item1 " href="@Url.Action("Index","FrontHome")" target="_self" title="Mobile phones "><span>Trang chủ </span></a>
                            </li>
                            <li class="level1 item2 parent">
                                <a class="level1 item1  parent" href="@Url.Action("ViewAllProducts","FrontSearch")" target="_self" title="Smartphones">
                                    <span>Hãng sản xuất</span>
                                </a>
                                <ul class="level2" style="width:140px; left: 120px !important">
                                <li class="level2 item1">
                                    @foreach(var item in HangSX_List)
                                    {
                                    <a class="level2 item1" href="@Url.Action("Index", "FrontProducts", new { hangsx_id=item.id , page=1 })" target="_self" title="@item.ten">
                                        <span>
                                            @item.ten
                                        </span>
                                    </a>
                                    <br />
                                    }
                                </li>
                                </ul>
                            </li>
                            <li class="level1 item3">
                                <a class="level1 item1 " href="@Url.Action("Index","FrontSearch")" target="_self" title="Mobile phones "><span>Tìm kiếm sản phẩm</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- END header -->
            <div id="content">
                @if(ViewBag.slider==true)
                {
                <div class="moduletable_slider">
                    <div class="kwicks-wrapper">
                        <ul class="kwicks horizontal">
                            <li class="kwicks_1 first">
                                <strong>
                                    <img src="kwiks_1.png" alt="" />Motorola DEFY
                                </strong>
                                <span class="kwicks_body">
                                    <span class="padding">
                                        <span class="wrapper">
                                            <a href="javascript:void(0)">
                                                <img class="fleft" src="img1.png" alt=""></a>
                                            <div class="wrapper3">
                                                <h2 class="title">Motorola <span>DEFY</span></h2>
                                                <em>Lorem ipsum dolor sit amet</em>
                                                <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                                <div class="shop">
                                                    

                                                </div>

                                            </div>
                                        </span>
                                    </span>
                                </span>
                            </li>
                            <li class="kwicks_2">
                                <strong>
                                    <img src="kwiks_2.png" alt="">Samsung Galaxy S </strong>
                                <span class="kwicks_body">
                                    <span class="padding">
                                        <div class="wrapper">
                                            <a href="javascript:void(0)" title="">
                                                <img class="fleft" src="img2.png" alt=""></a>
                                            <div class="wrapper3">
                                                <h2 class="title">Samsung <span>Galaxy S</span></h2>
                                                <em>Lorem ipsum dolor sit amet</em>
                                                <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                                <div class="shop">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </span>
                            </li>
                            <li class="kwicks_3">
                                <strong>
                                    <img src="kwiks_3.png" alt="">LG Thrill 4G</strong>
                                <div class="kwicks_body">
                                    <div class="padding">
                                        <div class="wrapper">
                                            <a href="javascript:void(0)" title="">
                                                <img class="fleft" src="img3.png" alt=""></a>
                                            <div class="wrapper3">
                                                <h2 class="title">LG <span>Thrill 4G</span></h2>
                                                <em>Lorem ipsum dolor sit amet</em>
                                                <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                                <div class="shop">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="kwicks_4">
                                <strong>
                                    <img src="kwiks_4.png" alt="">Samsung I9100G Galaxy S II</strong>
                                <span class="kwicks_body">
                                    <span class="padding">
                                        <div class="wrapper">
                                            <a href="javascript:void(0)" title="">
                                                <img class="fleft" src="img4.png" alt=""></a>
                                            <div class="wrapper3">
                                                <h2 class="title">Samsung <span>I9100G Galaxy S II</span></h2>
                                                <em>Lorem ipsum dolor sit amet</em>
                                                <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                                <div class="shop">
                                                    
                                                </div>

                                            </div>
                                        </div>
                                    </span>
                                </span>
                            </li>
                            <li class="kwicks_5">
                                <strong>
                                    <img src="kwiks_5.png" alt="">BlackBerry Bold 9790
                                </strong>
                                <span class="kwicks_body">
                                    <span class="padding">
                                        <span class="wrapper">
                                            <a href="javascript:void(0)" title="">
                                                <img class="fleft" src="img5.png" tppabs="http://livedemo00.template-help.com/virtuemart_37317/images/stories/gallery/img5.png" alt="">
                                            </a>
                                            <div class="wrapper3">
                                                <h2 class="title">BlackBerry<span>Bold 9790</span></h2>
                                                <em>Lorem ipsum dolor sit amet</em>
                                                <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                                <div class="shop">
                                                    
                                                </div>
                                            </div>
                                        </span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                }
                <div class="wrapper">
                    <div id="left">
                        <div class="wrapper">
                            <div class="extra-indent">
                                <div class="module_best">
                                    <!-- Left panel -->
                                    <a href="@Url.Action("ViewAllProducts","FrontSearch")" style="text-decoration:none">
                                    <h3><span><span>Hãng sản xuất</span></span></h3>
                                    </a>
                                    <div class="boxIndent">
                                        <div class="anythingSlider2">
                                            <div class="wrapper qd_hangsx">
                                                <!-- mark for custom css-->
                                                <!-- hang sx list-->
                                                <style type="text/css">
                                                    .qd_hangsx .add_to_cart_button {
                                                        width: auto;
                                                        background: #242424;
                                                        padding-left: 3px;
                                                        padding-right: 3px;
                                                        max-width: 190px;
                                                        font: bold 12px Arial, Helvetica, sans-serif!important;
                                                    }

                                                    .qd_hangsx .ProductBox.last {
                                                        min-height: 30px;
                                                        margin-left: 10px;
                                                    }

                                                    .qd_hangsx .fleft {
                                                        float: left;
                                                        margin-top: 0px;
                                                        width: auto;
                                                    }
                                                    /*HOVER DOI MAU*/
                                                    .qd_hangsx .add_to_cart_button:hover {
                                                        width: auto;
                                                        background: #242424;
                                                        padding-left: 3px;
                                                        padding-right: 3px;
                                                        max-width: 190px;
                                                        font: bold 12px Arial, Helvetica, sans-serif!important;
                                                        color: #a5a5a5;
                                                    }
                                                </style>
                                                <ul>
                                                    @foreach (var item in HangSX_List)
                                                    {
                                                        <li>
                                                            <div class="ProductBox item_01  last special">
                                                                <div class="fleft">
                                                                    <div class="lastProductDetail" style="padding: 0px">
                                                                        <button type="button" class="add_to_cart_button" title="Xem" onclick="document.location='@Url.Action("Index", "FrontProducts", new { hangsx_id = item.id })'">@item.ten</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- END AnythingSlider -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
            <!-- Footer -->
            <div id="footer">
                <div class="space">
                    <div class="wrapper">
                        <div class="footerText">
                            <ul class="menu">
                                <!-- <li class="item29"><a href="javascript:void(0)"><span>Online store</span></a></li> -->
                            </ul>
                            <div class="pad-top">Copyright &#169; 2013 Mobile. All Rights Reserved.&nbsp;</div>
                            <!--{%FOOTER_LINK} -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end footer -->
        </div>
        <p id="back-top">
            <a href="#top"><span></span></a>
        </p>
    </div>
</body>
</html>
