@{
    //ViewBag.Title
    //ViewBag.Cart
    //ViewBag.timkiem_sanpham
    ViewBag.slider = true;
    var SanPham_List = (List<BaseClass.Models.SanPham>)ViewBag.SanPham_List;
    var HangSX_List = (List<BaseClass.Models.HangSX>)ViewBag.HangSX_List;
}

<div class="container">
    <div class="module_new">
        <h3><span><span>Sản phẩm mới</span></span></h3>
        <div class="boxIndent">
            <div class="anythingSlider2">
                <div class="wrapper">
                    <ul>
                        <!-- new product right panel -->
                        @{
                            int i = 1;
                            Boolean end_li_tag = false;
                        }
                        @foreach (var item in SanPham_List)
                        {
                            string link_to_sanpham = Url.Action("Index","FrontProductDetail", new {id=item.id});
                            if ((i - 1) % 4 == 0)
                            {
                                end_li_tag = false;
                            @:<li>
}
                            //print product
                                    <div class="ProductBox item_01 @if (i % 4 == 0)
                                                                   {
                                                                       @:last
                                                                       }">
                                        <div class="lastProductImage">
                                            <a href="@link_to_sanpham" title="" >
                                                <img src="@item._get_hinhanh_macdinh()._get_full_duongdan()" alt="Lorem ipsum dolor " />
                                            </a>
                                        </div>


                                        <div class="fleft">
                                            <div class="lastProductName">
                                                <a href="@link_to_sanpham">@item.ten</a>
                                            </div>
                                            <div class="lastProductDesc">
                                               @item._get_mota_lite(100)
                                            </div>

                                            <div class="wrapper">
                                                <div class="productPrice">
                                                    Giá: @item._get_gia() VNĐ			
                                                </div>
                                            </div>
                                            <div class="lastProductDetail">
                                                <button class="add_to_cart_button" onclick="document.location='@Url.Action("Index", "FrontProductDetail", new { id = item.id })'">Mua hàng</button>
                                            </div>
                                        </div>
                                    </div>
                                    i++;
                                    if ((i - 1) % 4 == 0)
                                    {
                                        end_li_tag = true;
                                        @:</li>
                                    }
                        }
                        @if (!end_li_tag)
                            {
                            @:</li>
                            }
                    </ul>
                </div>
            </div>
            <!-- END AnythingSlider -->
        </div>
    </div>
</div>

